.inputProfile {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: all 0.3s;
  text-align: end;
  color: $black;
  font-family: Montserrat, sans-serif;

  &[type="password"] {
    font-family: Verdana;
  }

  &Error {
    color: $red;
  }
}
