<div class="changePassWrapper">
    <img src="assets/back.svg" redirect="profile" alt="back" class="backArrow">
    <div class="changePass">
        {{> ProfileChangePassword img="assets/dog2.jpg" displayed="Boymep"}}
        <div class="changeInfoSave">{{> Button redirect="profile" text="Сохранить"}}</div>
    </div>
    <div class="changePassLogo">{{> Logo}}</div>
</div>