<div class="myMessageWrapper">
    <div class="myMessage">
        <span>{{text}}</span>
        <div class="myMessageInfo">
            <img class="myMessageInfoRead" src="assets/read.svg" alt="read">
            <span>{{time}}</span>
        </div>
    </div>
</div>