<div class="myMessageWrapper">
    <div class="myMessage">
        <span>{{text}}</span>
        <div class="myMessageInfo">
            <img class="myMessageInfoRead" src="src/assets/read.svg" alt="read">
            <span>12:10</span>
        </div>
    </div>
</div>