.myMessage {
  background-color: $green-thin;
  padding: 20px;
  border-radius: 40px 40px 0 40px;
  max-width: 40%;
  justify-self: flex-end;
  min-width: 150px;
  position: relative;

  &Wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &Info {
    position: absolute;
    font-size: 10px;
    text-align: end;
    right: 10px;
    bottom: 10px;
    display: flex;
    gap: 5px;
    align-items: center;

    &Read {
      height: 8px;
    }
  }
}
