<div class="chat">
    <div class="chatUser">
        <img class="chatImg" src="{{img}}" alt="chat">
        <div class="chatMiddle">
            <span class="chatTitle">{{title}}</span>
            <div class="chatLast">last message</div>
        </div>
    </div>
    <div class="chatLeft">
        <span class="chatTime">{{time}}</span>
        <div class="chatCount">{{count}}</div>
    </div>
</div>
