.button {
  border-radius: 40px;
  font-size: 24px;
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 5px 40px;

  &:hover {
    background-color: #bdbdbd;
  }

  &:active {
    background-color: #c16d6d;
  }
}
