<div class="profileWrapper">
    <div class="profile">
        {{> ProfileInfo img="assets/dog2.jpg" name="Danil" email="mail@mail.ru" login="" fname="Danil" lname="Panov"
        displayed="Boymep"
        phone="+7 (999) 999 99 99"}}
        {{> ButtonGhost text="Изменить данные"}}
        {{> Divider}}
        {{> ButtonGhost text="Изменить пароль"}}
        {{> Divider}}
        {{> ButtonGhost text="Выйти" redirect="login" class="red"}}
    </div>
</div>