@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap";
@import "./variables";
@import "./src/components/Button/Button";
@import "./src/components/ButtonGhost/ButtonGhost";
@import "./src/components/Form/Form";
@import "./src/components/AuthPage/AuthPage";
@import "./src/components/Input/Input";
@import "./src/components/Logo/Logo";
@import "./src/components/Chat/Chat";
@import "./src/components/Sidebar/Sidebar";
@import "./src/components/Search/Search";
@import "./src/components/Layout/Layout";
@import "./src/components/ChatWindow/ChatWindow";
@import "./src/components/ChatInput/ChatInput";
@import "./src/components/Message/Message";
@import "./src/components/MyMessage/MyMessage";
@import "./src/components/ImageMessage/ImageMessage";
@import "./src/components/Divider/Divider";
@import "./src/components/ProfileInfo/ProfileInfo";
@import "./src/components/ProfileEditInfo/ProfileEditInfo";
@import "./src/components/ProfileEditPassword/ProfileEditPassword";
@import "./src/components/ModalVariant/ModalVariant";
@import "./src/components/ChatList/ChatList";
@import "./src/components/ModalSmall/ModalSmall";

@import "./src/pages/LoginPage/LoginPage";
@import "./src/pages/RegPage/RegPage";
@import "./src/pages/MainPage/MainPage";
@import "./src/pages/ChatPage/ChatPage";
@import "./src/pages/Page404/Page404";
@import "./src/pages/ProfilePage/ProfilePage";
@import "./src/pages/EditInfoPage/EditInfoPage";
@import "./src/pages/EditPassPage/EditPassPage";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
u,
i,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section,
input,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: Montserrat, sans-serif;
  overflow: auto;
  background-color: $grey;
  color: $black;
  font-weight: 500;
  line-height: 20px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 5px;
  outline: 1px solid lightgray;
}

.noClick {
  pointer-events: none;
  cursor: default;
}

.inputProfile {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: all 0.3s;
  text-align: end;
  color: $black;

  &[type="password"] {
    font-family: Verdana;
  }

  &Error {
    color: $red;
  }
}

.pos-top {
  top: -170px;
  left: 0;
}

.pos-bottom {
  bottom: -135px;
  right: 10px;
}

.hidden {
  display: none;
}

.showAnimation {
  animation: show 0.3s ease-in;

  @keyframes show {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.hideAnimation {
  animation: hide 0.3s ease-in;

  @keyframes hide {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
