@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "./mixins.scss";
@import "./variables.scss";
@import "./src/components/Button/Button.scss";
@import "./src/components/ButtonGhost/ButtonGhost.scss";
@import "./src/components/Form/Form.scss";
@import "./src/components/AuthPage/AuthPage.scss";
@import "./src/components/Input/Input.scss";
@import "./src/pages/LoginPage/LoginPage.scss";
@import "./src/pages/RegPage/RegPage.scss";
@import "./src/pages/MainPage/MainPage.scss";
@import "./src/pages/Page404/Page404.scss";
@import "./src/components/Logo/Logo.scss";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
u,
i,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
footer,
header,
menu,
nav,
section,
input,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow: auto;
  background-color: $grey;
  color: $black;
  font-weight: 500;
  line-height: 20px;
}
