$green: #1dad79;
$green-light: #6bdab1;
$green-thin: #43eaad62;
$grey: #d4d4d4;
$grey-light: #efefef;
$grey-dark: #999999;
$black: #444444;
$white: #fff;
$red: #ff6262;
$red-light: #fda5a5;

.grey {
  color: $grey-dark;
}
