<div class="layout">
    {{#> Sidebar}}
    <div class="overflow-container">
        {{> Chat img="assets/dog.jpg" title="Friend" time="10:00" count="1"}}
        {{> Chat img="assets/dog2.jpg" title="Friend" time="09:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="3"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
        {{> Chat img="assets/dog3.jpg" title="Friend" time="08:00" count="2"}}
    </div>
    {{/Sidebar}}
    {{> @partial-block}}
</div>