<div class="profileWrapper">
    <img src="assets/back.svg" redirect="chats" alt="back" class="backArrow">
    <div class="profile">
        {{> ProfileInfo img="assets/dog2.jpg" name="Danil" email="mail@mail.ru" login="boymep" fname="Danil"
        lname="Panov"
        displayed="Boymep"
        phone="+7 (999) 999 99 99"}}
        {{> ButtonGhost id="change-info" redirect="change-info" text="Изменить данные"}}
        {{> Divider}}
        {{> ButtonGhost id="change-pass" redirect="change-pass" text="Изменить пароль"}}
        {{> Divider}}
        {{> ButtonGhost text="Выйти" redirect="login" class="red"}}
    </div>
    <div class="profileLogo">{{> Logo}}</div>
</div>