.imgMessage {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid $grey;

  &Wrapper {
    position: relative;
    width: fit-content;
  }

  &Time {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: $grey-dark;
    color: $white;
    font-size: 10px;
    padding: 0 10px;
    border-radius: 10px;
  }
}
