<div class="changeInfoWrapper">
    <img src="assets/back.svg" redirect="profile" alt="back" class="backArrow">
    <div class="changeInfo">
        {{> ProfileEditInfo img="assets/dog2.jpg" name="Danil" email="mail@mail.ru" login="boymep" fname="Danil"
        lname="Panov" displayed="Boymep" phone="+7 (999) 999 99 99"}}
        <div class="changeInfoSave">{{> Button redirect="profile" text="Сохранить"}}</div>
    </div>
    <div class="changeInfoLogo">{{> Logo}}</div>
</div>