{{#> AuthPage}}
{{#> Form title="Вход" action="/main" target="_blank"}}
<div class="formWrapper">
    <div class="formRows">
        {{> Input placeholder="Логин" name="login"}}
        {{> Input placeholder="Пароль" name="password" type="password"}}
    </div>
    <div class="formButtons">
        {{> Submit text="Войти" redirect="chats"}}
        {{> ButtonGhost text="Нет аккаунта?" redirect="reg"}}
    </div>
</div>
{{/Form}}
{{/AuthPage}}