<div class="auth">
    {{#> Form title="Вход"}}
    <div class="formRows">
        {{> Input placeholder="Логин"}}
        {{> Input placeholder="Пароль"}}
    </div>
    <div class="formButtons">
        {{> Button text="Войти"}}
        {{> ButtonGhost text="Нет аккаунта?"}}
    </div>
    {{/Form}}
</div>