{{#> AuthPage}}
{{#> Form title="Вход" action="#" method="POST" id="auth-form"}}
<div class="formWrapper">
    <div class="formRows">
        {{> Input placeholder="Логин" name="login" id="auth-login"}}
        {{> Input placeholder="Пароль" name="password" type="password" id="auth-password"}}
    </div>
    <div class="formButtons">
        {{> Button text="Войти" id="auth-submit" type="submit"}}
        {{> ButtonGhost text="Нет аккаунта?" redirect="reg"}}
    </div>
</div>
{{/Form}}
{{/AuthPage}}