.sidebar {
  background-color: $white;
  height: 100%;
  width: 400px;
  min-width: 400px;
  padding: 0 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;

  &Top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Controls {
    padding: 0 10px;
  }
}
