<aside class="sidebar">
    <div class="sidebarControls">
        <div class="sidebarTop">
            {{> Logo}}
            {{{ SidebarButton }}}
        </div>
        {{{ Search id="chat-search" placeholder="Поиск" name="search" }}}
    </div>
    {{> @partial-block}}
</aside>