<aside class="sidebar">
    <div class="sidebarControls">
        <div class="sidebarTop">
            {{> Logo}}
            <div redirect="profile" class="sidebarProfile">Профиль</div>
        </div>
        {{> Search id="chat-search"}}
    </div>
    {{> @partial-block}}
</aside>
