.message {
  background-color: $white;
  padding: 16px 20px;
  border-radius: 0 10px 10px;
  max-width: 40%;
  min-width: 100px;
  position: relative;

  &Wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &Info {
    position: absolute;
    font-size: 10px;
    text-align: end;
    right: 20px;
    bottom: 10px;
  }
}
