.ghost {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  color: $green;
  font-size: 16px;
  transition: all 0.3s;

  &:hover {
    color: $green-light;
  }

  &:active {
    color: $grey;
  }
}
